.action-buttons {
  display: flex;
  gap: 12px;
}

.delete-btn {
  padding: 10px 16px;
  border-radius: 10px;
  border: none;
  background: #de3f3f;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  transition: 0.25s;
}

.delete-btn:hover {
  background: #b52f2f;
}

.stats-btn {
  padding: 10px 16px;
  border-radius: 10px;
  border: none;
  background: #0059ff;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  transition: 0.25s;
  text-decoration: none;
}

.stats-btn:hover {
  background: #003ec4;
}
